*{
    margin: 0%;
    padding: 0%;
}

nav{
    visibility: hidden;
}

#logo{
    height: 250px;
    width: 50%;
    /* background-color: red; */
}

#tampa{
    width: 350px;
    margin: 0 15%;
    margin-top: 5%;
}

#banniere{
    background-color: green;
    height: 540px;
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
}



#carreCentre{
    background-color: white;
    height: 200px;
    width: 200px;
    opacity: 0.8;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px;
}

#carreCentre p{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    letter-spacing: 4px ;
}

#bienvenue{
    height: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px ;
    
}

.para{
    /* height: 200px; */
    /* background-color: aqua; */
}

.para :nth-child(2){
    margin-top: 20px;
    /* background-color: red; */
    word-spacing: 20px;
    letter-spacing: 4px;
}

.para2{
    
    height: 200px;
    word-spacing: 10px;
    /* background-color: red; */
    font-size: 20px;
    margin-bottom: 20px;
}

.para3{
    /* background-color: red; */
    width: 100%;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-style: italic;
}

#bgLightgrey{
    background-color: lightgrey;
    color: black;
    
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

#upfooter{
    height: 500px;
    background-color: blue;
    background-image: url(images/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 0 30px;

}

#mange,#voyage,#dorme{
    background-color: white;
    height: 167px;
    width:  160px;
    opacity: 0.8;
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vide{
    height: 166px;
    width:  160px ;
}

#valise{
    height: 60px;
    width:  60px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: -50px;
    top:62px ;
    background-image: url(images/icon-repas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#lit{
    height: 60px;
    width:  60px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: -50px;
    top:62px ;
    background-image: url(images/icon-lit.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#repas{
    height: 60px;
    width:  60px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: -50px;
    top:50px ;
    background-image: url(images/icon-valise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mintitle{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}
#upfooter p{
    letter-spacing: 4px;
}


footer{
 height: 400px;
 /* background-color: red; */
}

#info{
    height: 175px;
    background-color: black;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footlog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    margin-top: 50px;
}

#btn{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

button{
    width: 200px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 15px;
    color: white;
    border: none;
}

/* *{
    margin: 0%;
}{

.carre{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    display: inline-block;
    margin: 10px;
} */


/* 0 768 */
/* /* @media all and (min-device-width: 768px) {
    div{
        background-color: rgb(225, 255, 0);
    }
} */

/* @media all and (max-device-width: 576px) {
    .carre{
        display: block;
    }
 */